<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8 my-3">

    <%- include('includes/messages') %>

    <div class="row">
        <div class="col-lg" style="max-width: 65%; margin: auto; margin-top: 2em;">
            <h4>Faça seu cadastro</h4>
            <p>Se você ainda não tem uma conta, preencha o formulário abaixo:</p>
            <form class="form-cadastro" action="/login/register" method="post">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="form-group my-3">
                  <label>Email</label>
                  <input type="email" class="form-control email-criar" name="email">
                </div>

                <div class="form-group my-3">
                    <label>Senha</label>
                    <input type="password" class="form-control password-criar" name="password">
                  </div>

                <button type="submit" class="btn btn-primary">Criar conta</button>
            </form>
            <p style="margin-top: 1.4em; margin-left: 8em;">Já tem uma conta? <a href="/login/index">Clique aqui</a></p>
        </div>
    </div>

    </div>
</div>

<div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>